@model TheButlerV3.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />

    <!doctype html>

    <html>
    <head>
    </head>

    <style type="text/css">
        #largeboxone {
            width: 500px;
            height: 350px;
            background-color: white;
            margin: 0 auto;
        }

        #TableFav {
            width: 180px;
            height: 180px;
            background-color: white;
            float: center;
            text-align: center
        }

        #TableInv {
            width: 250px;
            height: 300px;
            background-color: white;
            float: left;
            text-align: center;
        }

        #boxthree {
            width: 250px;
            height: 300px;
            background-color: yellow;
            float: left;
        }

        h1 {
            background-color: black;
            color: #FFFFFF;
            text-align: center;
        }

        h3 {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #999999
        }

        input {
        }
    </style>

    <body>
        <div id="largeboxone">
            <div id="TableFav">

                Favorites Table
                <table border="1" width="100%">
                    <tr>
                        <th>HEADER1</th>
                        <th>HEADER2</th>
                        <th>HEADER3</th>
                    </tr>
                    <tr>
                        <td>LUDWIG</td>
                        <td>FISH</td>
                        <td>APPLE</td>
                    </tr>
                    <tr>
                        <td>TUNA</td>
                        <td>HAME</td>
                        <td>CORN</td>
                    </tr>
                    <tr>
                        <td>TUNA</td>
                        <td>HAME</td>
                        <td>CORN</td>
                    </tr>
                </table>
            </div>

            <div id="TableInv">

                Inventory Table
                <table border="1" width="100%">
                    <tr>
                        <th>HEADER1</th>
                        <th>HEADER2</th>
                        <th>HEADER3</th>
                    </tr>
                    <tr>
                        <td>LUDWIG</td>
                        <td>FISH</td>
                        <td>APPLE</td>
                    </tr>
                    <tr>
                        <td>TUNA</td>
                        <td>HAME</td>
                        <td>CORN</td>
                    </tr>
                    <tr>
                        <td>TUNA</td>
                        <td>HAME</td>
                        <td>CORN</td>
                    </tr>
                </table>
                <input type="submit" value="Add">
                <input type="submit" value="Remove">
            </div>
        </div>

    </body>

</html>
<dl class="dl-horizontal">
    <dt>Password:</dt>
    <dd>
        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        ]
    </dd>
    <dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>
    @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@
    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
    *@
    <dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
    </dd>
</dl>
</div>
